{% spaceless %}
{% load thumbnail %}
{% load static from staticfiles %}
{% if image %}
    {% if geometry %}
        {% thumbnail image geometry as im %}
            <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}"/>
        {% endthumbnail %}
    {% else %}
        <img src="{% static image.url %}" width="{{ image.width }}" height="{{ image.height }}"/>
    {% endif %}
{% else %}
    <img src="{% static 'img/noavatar.png' %}" width="{{ width }}" height="{{ height }}"/>
{% endif %}

{% endspaceless %}