{% extends 'base.html' %}

{% block content %}
    {% for friend in friends %}
<div class="row-fluid">
    <div class="span4">
        <img src="{{ MEDIA_URL }}/pic.jpg">
    </div>
    <div class="span8">
        <p><h4>{{ friend.user.first_name }} {{ friend.user.last_name }}</h4></p>
        <p>Born at: {{ friend.date_of_birth }}</p>
        <p>Home town: {{ friend.home_town }}</p>
        <form  action="{% url 'friends_manipulation' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ friend.pk }}">
            <input type="submit" class="btn btn-danger" name="remove" value="Remove friend">
        </form>
    </div>
 </div>
        <br/><br/>
    {% endfor %}

{% endblock content %}