{% extends 'base.html' %}

{% block head_title %}Sign In{% endblock %}

{% block extra_head_js %}
        <script src="{{ STATIC_URL }}/js/login.js"></script>
{% endblock %}

{% block content %}

<legend>Please, Sign In!</legend>
{%if form.errors %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Invalid username/password combination, please try again!
</div>
{% endif %}
<form action="{% url 'login_page' %}" method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label">{{form.username.label_tag}}</label>
        <div class="controls">{{form.username}}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{{form.password.label_tag}}</label>
        <div class="controls">{{form.password}}</div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Sign in" />
            <input type="hidden" name="next" value="/" />
            or <a href="{% url 'register_page' %}">Sign Up</a> if you don't have account!
        </div>
    </div>
</form>

{% endblock content %}