{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row-fluid">
        <div class="span4">
            <img src="{{ MEDIA_URL }}/pic.jpg">
        </div>
        <div class="span8">
            <p><h4>{{ socialprofile.user.first_name }} {{ socialprofile.user.last_name }}</h4></p>
            <p>Born at: {{ socialprofile.date_of_birth }}</p>

            <p>Home town: {{ socialprofile.home_town }}</p>

            <p>Phone: {{ socialprofile.phone_number }}</p>

            <p>Skype: {{ socialprofile.skype_id }}</p>
        </div>
    </div>
    <div class="row-fluid wallposts">
        <div class="span12">
            <ul class="thumbnails">
                <li class="offset1 span10">
                    <div class="thumbnail">
                        <form action="" method="post">
                            {% csrf_token %}
                            <p><label id_for="id_text">Post something cheezy!</label>
                            <p><textarea class="input-block-level" id="id_text" name="text" rows="4"></textarea>
                            <input id="id_sender" name="sender" type="hidden" value="{{ user.pk }}">
                            <input id="id_receiver" name="receiver" type="hidden" value="{{ socialprofile.user.pk }}">
                            <p><input type="submit" value="Post wallpost" class="btn btn-success">
                        </form>
                    </div>
                </li>
            </ul>

            {% if wallposts %}
                {% for post in wallposts %}
                    <ul class="thumbnails">
                        <li class="offset1 span10">
                            <div class="thumbnail">
                                <h3>Post by {{ post.sender.first_name }} {{ post.sender.last_name }}</h3>
                                <i>at {{ post.timestamp }}</i>

                                <p>{{ post.text }}<a class="pull-right" href="#">Like</a></p>

                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                No wall posts yet
            {% endif %}

        </div>
    </div>
{% endblock content %}
