{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}Profile{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span4" style="text-align: center;">
            <img src="{{ MEDIA_URL }}/pic.jpg" class="img-polaroid">
            <br/><br/>
            {% if socialprofile.user != user %}
                {% if socialprofile in user.get_profile.friends.all %}
                    <a href="{% url 'message_write_page' socialprofile.user.pk %}" class="btn btn-success">Send a message</a>
                {% else %}
                    <form action="{% url 'friends_manipulation' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ socialprofile.user.pk }}">
                        <input class="btn btn-success" type="submit" name="add" value="Add friend" style="width: 100%;">
                    </form>
                {% endif %}
            {% else %}
                It is You!
            {% endif %}
            <hr>
        </div>
        <div class="span6 offset1">
            <legend>{{ socialprofile.user.first_name }} {{ socialprofile.user.last_name }}</legend>
            <table style="width: 100%">
                <tr>
                    <td>Born at:</td><td><span class="muted">{{ socialprofile.date_of_birth }}</span></td>
                </tr>
                <tr>
                    <td>Home town:</td><td><span class="muted">{{ socialprofile.home_town }}</span></td>
                </tr>
                <tr>
                    <td>Phone:</td><td><span class="muted">{{ socialprofile.phone_number }}</span></td>
                </tr>
                <tr>
                    <td>Skype:</td><td><span class="muted">{{ socialprofile.skype_id }}</span></td>
                <tr/>
            </table>
        </div>
    </div>
    <div class="row-fluid wallposts">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span12">
                        <form action="" method="post">
                            {% csrf_token %}
                            <p><label id_for="id_text">Post something cheezy!</label>
                            <p><textarea class="input-block-level" id="id_text" name="text" rows="4"></textarea>
                            <input id="id_sender" name="sender" type="hidden" value="{{ user.pk }}">
                            <input id="id_receiver" name="receiver" type="hidden" value="{{ socialprofile.user.pk }}">
                            <p><input type="submit" value="Post wallpost" class="btn btn-success">
                        </form>
                </li>
            </ul>

            {% if wallposts %}
                {% for post in wallposts %}
                    <ul class="thumbnails">
                        <li class="span12">
                            <div class="thumbnail">
                                <h3>Post by {{ post.sender.first_name }} {{ post.sender.last_name }}</h3>
                                <i>at {{ post.timestamp }}</i>

                                <p>{{ post.text }}<a class="pull-right" href="#">Like</a></p>

                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                No wall posts yet
            {% endif %}

        </div>
    </div>
{% endblock content %}
